Ejercicio 2. Spark SQL (5 puntos)   
Carga el fichero cars.csv proporcionado en Colab o Databricks . En el fichero
cars.csv tenemos información sobre las características técnicas de varios
vehículos:  

• Carga el fichero en un DataFrame de Spark que se llame cars, muestra por
pantalla la estructura de cars y las primeras 5 filas (0,5 puntos)  
• Obtener las columnas “Car” y “Cylinders” de todos los que sean de Europa (1
punto) (0,5 puntos)   
• Obtener el número de vehículos por “Origin” (0,5 puntos)  
• Obtener el número de vehículos por “Origin” y “Model” y ordenar el resultado
por el número de vehículos de manera descendente (1 punto)   
• Obtén la media de "Horsepower", "Weight" y "Acceleration" por "Origen" (1
punto)   
• Calcula la ratio entre potencia y peso y a continuación sacar la media por
cantidad de cilindros (1,5 puntos)

In [0]:
dbutils.fs.cp("/FileStore/tables/cars.csv", "/FileStore/SparkSQL")

Out[1]: True

In [0]:
cars = spark.read.csv("/FileStore/SparkSQL/cars.csv", header=True, inferSchema=True, sep = ";")

In [0]:
cars.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: double (nullable = true)
 |-- Weight: decimal(4,0) (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [0]:
cars.show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|  4341|        10.0|   70|    US|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|  4354|         9.0|   70|    US|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|  4312|         8.5|   70|    US|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|  4425|        10.0|   70|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|  3850|         8.5|   70|    US|
|Citroen DS-21 Pallas| 0.0|        4|       133.0|     115.0|  3090|        17.5|   70|Europe|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|  4142|        11.5|   70|    US|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|  4034|        11.0|   70|    US|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|  4166|        10.5|   70|    US|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|  3850|        11.0|   70|    US|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|  3563|        10.0|   70|    US|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|  3609|         8.0|   70|    US|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|  3353|         8.0|   70|    US|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|  3761|         9.5|   70|    US|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|  3086|        10.0|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [0]:
cars.head(5)

Out[27]: [Row(Car='Chevrolet Chevelle Malibu', MPG=18.0, Cylinders=8, Displacement=307.0, Horsepower=130.0, Weight=Decimal('3504'), Acceleration=12.0, Model=70, Origin='US'),
 Row(Car='Buick Skylark 320', MPG=15.0, Cylinders=8, Displacement=350.0, Horsepower=165.0, Weight=Decimal('3693'), Acceleration=11.5, Model=70, Origin='US'),
 Row(Car='Plymouth Satellite', MPG=18.0, Cylinders=8, Displacement=318.0, Horsepower=150.0, Weight=Decimal('3436'), Acceleration=11.0, Model=70, Origin='US'),
 Row(Car='AMC Rebel SST', MPG=16.0, Cylinders=8, Displacement=304.0, Horsepower=150.0, Weight=Decimal('3433'), Acceleration=12.0, Model=70, Origin='US'),
 Row(Car='Ford Torino', MPG=17.0, Cylinders=8, Displacement=302.0, Horsepower=140.0, Weight=Decimal('3449'), Acceleration=10.5, Model=70, Origin='US')]

In [0]:
cars.select('Car', 'Cylinders').filter(cars.Origin == 'Europe').show()

+--------------------+---------+
|                 Car|Cylinders|
+--------------------+---------+
|Citroen DS-21 Pallas|        4|
|Volkswagen 1131 D...|        4|
|         Peugeot 504|        4|
|         Audi 100 LS|        4|
|            Saab 99e|        4|
|            BMW 2002|        4|
|Volkswagen Super ...|        4|
|           Opel 1900|        4|
|         Peugeot 304|        4|
|           Fiat 124B|        4|
|Volkswagen Model 111|        4|
|   Volkswagen Type 3|        4|
|     Volvo 145e (sw)|        4|
| Volkswagen 411 (sw)|        4|
|    Peugeot 504 (sw)|        4|
|     Renault 12 (sw)|        4|
|Volkswagen Super ...|        4|
|Fiat 124 Sport Coupe|        4|
|            Fiat 128|        4|
|          Opel Manta|        4|
+--------------------+---------+
only showing top 20 rows

In [0]:
cars.createOrReplaceTempView("my_table");

rset = spark.sql("SELECT Car, Cylinders FROM my_table WHERE Origin = 'Europe'")
rset.show()

+--------------------+---------+
|                 Car|Cylinders|
+--------------------+---------+
|Citroen DS-21 Pallas|        4|
|Volkswagen 1131 D...|        4|
|         Peugeot 504|        4|
|         Audi 100 LS|        4|
|            Saab 99e|        4|
|            BMW 2002|        4|
|Volkswagen Super ...|        4|
|           Opel 1900|        4|
|         Peugeot 304|        4|
|           Fiat 124B|        4|
|Volkswagen Model 111|        4|
|   Volkswagen Type 3|        4|
|     Volvo 145e (sw)|        4|
| Volkswagen 411 (sw)|        4|
|    Peugeot 504 (sw)|        4|
|     Renault 12 (sw)|        4|
|Volkswagen Super ...|        4|
|Fiat 124 Sport Coupe|        4|
|            Fiat 128|        4|
|          Opel Manta|        4|
+--------------------+---------+
only showing top 20 rows

In [0]:
selected_columns = cars.select("Origin", "Model")

In [0]:
cars.count()

Out[75]: 406

In [0]:
#Obtener el número de vehículos por “Origin” 
cars.groupBy('Origin').count().show()

+------+-----+
|Origin|count|
+------+-----+
|Europe|   73|
|    US|  254|
| Japan|   79|
+------+-----+

In [0]:
cars.createOrReplaceTempView("my_table");

rset = spark.sql("SELECT Origin, COUNT(*) as count FROM my_table GROUP BY Origin")
rset.show()

+------+-----+
|Origin|count|
+------+-----+
|Europe|   73|
|    US|  254|
| Japan|   79|
+------+-----+

In [0]:
#Obtener el número de vehículos por “Origin” y “Model” y ordenar el resultado por el número de vehículos de manera descendente 

print(cars.select("Origin", "Model").groupBy("Origin", "Model").count().orderBy("count", ascending=False).show())

+------+-----+-----+
|Origin|Model|count|
+------+-----+-----+
|    US|   73|   29|
|    US|   70|   27|
|    US|   79|   23|
|    US|   78|   22|
|    US|   76|   22|
|    US|   75|   20|
|    US|   82|   20|
|    US|   71|   20|
|    US|   72|   18|
|    US|   77|   18|
|    US|   74|   15|
| Japan|   80|   13|
|    US|   81|   13|
| Japan|   81|   12|
|Europe|   80|    9|
| Japan|   82|    9|
|Europe|   76|    8|
| Japan|   78|    8|
|    US|   80|    7|
|Europe|   73|    7|
+------+-----+-----+
only showing top 20 rows

None

In [0]:
rset = spark.sql("SELECT Origin, Model, COUNT(*) as count FROM my_table GROUP BY Origin, Model ORDER BY count DESC")
rset.show()

+------+-----+-----+
|Origin|Model|count|
+------+-----+-----+
|    US|   73|   29|
|    US|   70|   27|
|    US|   79|   23|
|    US|   78|   22|
|    US|   76|   22|
|    US|   75|   20|
|    US|   82|   20|
|    US|   71|   20|
|    US|   72|   18|
|    US|   77|   18|
|    US|   74|   15|
| Japan|   80|   13|
|    US|   81|   13|
| Japan|   81|   12|
|Europe|   80|    9|
| Japan|   82|    9|
|Europe|   76|    8|
| Japan|   78|    8|
|    US|   80|    7|
|Europe|   73|    7|
+------+-----+-----+
only showing top 20 rows

In [0]:
#Obtén la media de "Horsepower", "Weight" y "Acceleration" por "Origen" (1 punto)

cars.select("Horsepower", "Weight", "Acceleration", "Origin").groupBy("Origin").mean().show()

+------+------------------+-----------+------------------+
|Origin|   avg(Horsepower)|avg(Weight)| avg(Acceleration)|
+------+------------------+-----------+------------------+
|Europe| 78.78082191780823|  2431.4932| 16.82191780821918|
|    US|118.01181102362204|  3372.7008|14.942519685039361|
| Japan| 79.83544303797468|  2221.2278|16.172151898734175|
+------+------------------+-----------+------------------+

In [0]:
rset = spark.sql("SELECT Origin, AVG(Horsepower) as Avg_Horsepower, AVG(Weight) as Avg_Weight, AVG(Acceleration) as Avg_Acceleration FROM my_table GROUP BY Origin")
rset.show()

+------+------------------+----------+------------------+
|Origin|    Avg_Horsepower|Avg_Weight|  Avg_Acceleration|
+------+------------------+----------+------------------+
|Europe| 78.78082191780823| 2431.4932| 16.82191780821918|
|    US|118.01181102362204| 3372.7008|14.942519685039361|
| Japan| 79.83544303797468| 2221.2278|16.172151898734175|
+------+------------------+----------+------------------+

In [0]:
# Calcula la ratio entre potencia y peso y a continuación sacar la media por cantidad de cilindros (1,5 puntos)
cars = cars.withColumn("ratio", cars["Horsepower"] / cars["Weight"])

In [0]:
cars.select("ratio", "Cylinders").groupBy("Cylinders").mean("ratio").show()

+---------+--------------------+
|Cylinders|          avg(ratio)|
+---------+--------------------+
|        6| 0.03163238614784404|
|        3|0.041441818290915214|
|        5|0.026973551761855744|
|        4|0.033217183371144564|
|        8| 0.03872856292574305|
+---------+--------------------+

In [0]:
cars.createOrReplaceTempView("my_table");

rset = spark.sql("SELECT AVG(Horsepower / Weight) AS avg_ratio, Cylinders FROM my_table GROUP BY Cylinders")
rset.show()

+--------------------+---------+
|           avg_ratio|Cylinders|
+--------------------+---------+
| 0.03163238614784404|        6|
|0.041441818290915214|        3|
|0.026973551761855744|        5|
|0.033217183371144564|        4|
| 0.03872856292574305|        8|
+--------------------+---------+